body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: darkgray;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  padding: 10px;
  margin: 5px;
}

#networkCanvas {
  background: black;
}

#carCanvas {
  background: lightgray;
}